arize-phoenix-otel
chromadb
docling
docling-core
fastapi
langchain-chroma
langchain-classic
langchain-community
langchain-core
langchain-docling
langchain-groq
langgraph
langgraph-prebuilt
numpy
onnxruntime
opencv-python-headless
openinference-instrumentation-fastapi
openinference-instrumentation-langchain
optimum[onnxruntime]
pydantic
pydantic-settings
python-dotenv
python-multipart
ragas
rank-bm25
transformers
uvicorn
